@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	src: url("../resources/Inter.ttf");
}

body {
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif !important;
}